body {
  height: 100vh;
  overflow: hidden;
  display: flex;
}

figure {
  height: 100vh;
  width: 50vw;
  position: relative;
}

img {
  height: 100%;
  width: 100%;
}

.form-side {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
}

.form-column-left,
.form-column-right {
  display: flex;
  flex-direction: column;
}
